*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    resize: none;
    outline: none;
    cursor: pointer;
    
}


body,html,#app{
    height: 100%;
    -webkit-tap-highlight-color:transparent;
    background-color: #ebd3a6;
}

p{
    padding: 5px;
    word-break: break-all;
}

